body {
	background-color: #333333;
	color: #ffffff;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #000000;
	padding: 20px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img {
	height: 50px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav a {
	color: #ffffff;
	text-decoration: none;
}

nav a:hover {
	color: #30B5BE;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100%;
}

.botones {
    margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.botones a {
	background-color: #30B5BE;
	color: #ffffff;
	border: none;
	padding: 15px 30px;
	margin: 10px 0;
	font-size: 22px;
    font-weight: bold;
	cursor: pointer;
    width: 50%;
    text-align: center;
    text-decoration: none;
}
.botones a:hover {
	background-color: #ffffff;
	color: #30B5BE;
}

@media (max-width: 767px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
	.logo {
		margin: 20px 0;
	}
	ul {
		display: none;
	}
	.menu-icon {
		display: block;
	}
	.menu-icon span {
		display: block;
		width: 30px;
		height: 3px;
		margin: 5px 0;
		background-color: #ffffff;
	}
	.menu-active {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: #000000;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.menu-active li {
		margin: 20px 0;
	}
	.menu-active a {
		color: #ffffff;
		font-size: 24px;
	}
	.botones {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 40px;
	}
	.botones a {
		width: 80%;
	}
}
